*target*
*.jar
*.war
*.ear
*.class
*.out

#JS
node_modules/
.env
# eclipse specific git ignore
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

#PYTHON
py/__pycache__

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch
/HTML5_JS/RCF-G01/RCF-G01/nbproject/private/
/HTML5_JS/RCF-G02/nbproject/private/

# CSHARP
cs/*.exe

# REACT

.DS_STORE
*node_modules/*
scripts/flow/*/.flowconfig
*~
*.pyc
.grunt
_SpecRunner.html
__benchmarks__
build/
remote-repo/
coverage/
flow-coverage/
.module-cache
fixtures/dom/public/react-dom.js
fixtures/dom/public/react.js
test/the-files-to-test.generated.js
*.log*
chrome-user-data
*.sublime-project
*.sublime-workspace
.idea
*.iml
.vscode
*.swp
*.swo
