rolodex{
    padding: 1em;
}

BusinessCard {
    background: #444;
    text-align: left;
    border: 1px solid gold;
    color: gold;
    margin: 1em;
    padding: 1em;
    display: block;
    min-width: 100px;
    max-width: 300px;
}

name, company, position, email {
    color: gold;
    display: block;
}

name {
    font-size: 1.3em;
}

position {
    font-size: 0.8em;
}

/*
name::before{ font-size: 0.7em; content: "Name"; margin-right: 4px;}
company::before{ font-size: 0.7em; content: "Company"; margin-right: 4px;}
position::before{ font-size: 0.7em; content: "Position"; margin-right: 4px;}
email::before{ font-size: 0.7em; content: "attr(type) email"; margin-right: 4px;}
*/