logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID

.DS_Store

dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/

### Scala ###
*.class
*.log